* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-snoothing: antialiased;
    moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: black;
    background-color: #47b1d1;
}

label {
    display: block;
}

p{
    padding: 5px;
}

input {
    margin: 2px;
    padding: 10px;
    cursor: auto;
    width: 100%;
    border: none;
    
}

.form {
     max-width: 400px;
     width: 100%;
     margin: 0 auto;
     position: relative
}

#dados {
    background: #F9F9F9;
    padding: 25px;
    margin: 150;
    border-radius: 4px;
    box-shadow:0 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0 , 0.24);
    padding: 20px;
    margin-top: 100px;
}

#dados {
    display: block;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

#dados input[type="text"]:hover,
#dados input[type="number"]:hover,
#dados input[type="email"]:hover,
#dados input[type="date"]:hover,
#dados textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid blue,
}


#btn {
    margin: 2px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #47b1d1;
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

 #btn[type="button"]:hover {
    background-color: rgb(53, 253, 53);
    -webkit-transition: 0.2s;
}

#btn[type="reset"]:hover {
    background-color: #aaa;
    -webkit-transition: 0.2s;
}




